nav{
    height:  50px;
    background: linear-gradiant(45deg, rgb(156,14,156, midnightblue));
}

.liste{
    height:  100%;
    width: 100%;
    background: midnightblue;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    position: relative;
}

.items{
    margin-right: 10px;
    color: #f1f1f1;
    cursor: pointer;
}

.btn{
    display: none;
}